Icon
.idea/Icon

bootcamp-final-project-web-app/build/Icon

bootcamp-final-project-web-app/build/static/css/Icon

bootcamp-final-project-web-app/build/static/Icon

bootcamp-final-project-web-server/__pycache__/

node_modules/.bin/Icon

*.xml

.DS_Store

.idea/

bootcamp-final-project-web-server/services/__pycache__/
/node_modules/
